<!DOCTYPE html>
<html>
<head>
<title></title>

<style>
.post{
	padding:20px;
	background: #f1f1f1;
	font-size: 18px;}
#more{
	display: none;}
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<body>
<div class="row"> </div>
<div class="col-md-2"> </div>
<div class="col-md-8">
	<br><br> 
	
	<div class="post">
		<p>
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. When an unknown printer took a ga<span id="dots">....</span><span id="more">lley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting. Remaining essentially unchanged.</span>
</p> <br>

<button class ="btn btn-success" id="mybtn">Read More</button>
	</div>
</div>

</body>
</html>
